body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1100px;
  margin: 0 auto;
 }
.form {
 width: 400px;
  .random-password {

    border: 1px solid;
    border-radius: 2px;
   h3{
    color: rgb(228, 52, 134);
    margin-bottom: 50px;
   }
    .mg-bt {
      margin-bottom: 20px;
    }
    .space-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .color-w{
     color: black;
    }
   
    padding: 50px;
    background-color: white;
    .output {
      input {
        background-color: white;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid #333;
      }
      button {
        color: white;
        padding: 5px;
        border-radius: 2px;
       background-color: rgb(228, 52, 134);


      }
    }
    .length {
      input {
        background-color: white;
        border-radius: 2px;
        border: 1px solid #333;
        padding: 5px;
      }
    }
    
    .btnPassword{
     width: 100%;
     padding: 5px;
     background-color: rgb(228, 52, 134);
     border-radius: 2px;
     color: white;

    }
  }
}
